*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#home{
    background-color:#332D2D;
}
#contact{
    margin-top: 100px;
    background-color:#332D2D;
    color: aliceblue;
}





.dark-mode {
    background-color: black;
    color: white;}
.dark-mode #home{
    background-color:#2f4454;  
}
.dark-mode #contact{

    background-color:#2f4454;
}

a { color: inherit; }

#home i{
    font-size: 30px;
    padding: 10px;
}
#home i:hover{
    color: yellow;
}
