*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body {
    overflow-x: hidden;
}

#home{
    background-color:#332D2D;
}
#contact{
    margin-top: 100px;
    background-color:#332D2D;
    color: aliceblue;
}





.dark-mode {
    background-color: black;
    color: white;}
.dark-mode #home{
    background-color:#2f4454;  
}
.dark-mode #contact{

    background-color:#2f4454;
}

a { color: inherit; }

#home i{
    font-size: 30px;
    padding: 10px;
}
#home i:hover{
    color: yellow;
}



/* works */

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .card-text {
    flex-grow: 1; /* Allow the text to grow vertically */
  }
  
  
  .card {
    transition: transform 0.3s ease;
  }
  
  
  .card:hover {
    transform: scale(0.9); 
  }